#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u1493-2,#u1493-7,#u1512,#u1500-2,#u1500-7,#u1500-12,#u1510-2,#u1519-2,#u1519-7,#u1519-12,#u1519-15
{
	font-family: lato-i9, sans-serif;
}

#u1493-10,#u1493-12,#u1512-2,#u1512-7,#u1500-15,#u1500-17,#u1500-18,#u1500-20,#u1509-4,#u1519-17
{
	font-family: lato-n4, sans-serif;
}

#u1470-4,#u1492-4,#u1493-4,#u1493-5,#u1493-9,#u1513-4,#u1512-4,#u1512-5,#u1499-4,#u1500-4,#u1500-5,#u1500-9,#u1500-10,#u1500-14,#u1506-4,#u1510-4,#u1520-4,#u1519-4,#u1519-5,#u1519-9,#u1519-10,#u1519-14,#u1469-9
{
	font-family: lato-n9, sans-serif;
}

