#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u1304-10,#u1305-4,#u1309-8,#u1275-8,#u1276-4,#u1282-4,#u1286-8,#u1287-4,#u1272-13,#u1273-4,#u1296-4
{
	font-family: lato-n4, sans-serif;
}

#u1289-4,#u1274-12
{
	font-family: lato-n9, sans-serif;
}

