#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u865-20,#u866-20,#u867-17,#u870-14
{
	font-family: lato-n4, sans-serif;
}

#u859-4,#u858-4,#u860-4,#u869-4,#u1567-9
{
	font-family: lato-n9, sans-serif;
}

