#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u805,#u805-3
{
	font-family: lato-i3, sans-serif;
}

#u805-4,#u805-6,#u805-7,#u805-9,#u805-10,#u805-12,#u805-13,#u805-15,#u805-16,#u806-15,#u808-12
{
	font-family: lato-n4, sans-serif;
}

#u799-4,#u803-7,#u800-4,#u804-4,#u801-4,#u807-7,#u1439-9
{
	font-family: lato-n9, sans-serif;
}

