#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u934-4,#u1624-4,#u1630-20,#u1631-20,#u1632-17,#u1635-4,#u1636-4,#u1637-4,#u1638-4,#u1640-4,#u1650-4,#u1641-5,#u1651-5,#u1642-4,#u1652-4,#u1659-4,#u1644-4,#u1645-5,#u1660-4,#u1646-4,#u1661-4,#u1647-4,#u1654-4,#u1655-5,#u1648-4,#u1656-4,#u1657-4,#u1658-4
{
	font-family: lato-n4, sans-serif;
}

#u1613-4,#u1618-4,#u1625-4,#u1627-4,#u1628-4,#u1620-4,#u1622-4,#u1639-4,#u1649-4,#u1641,#u1651,#u1643-4,#u1645,#u1653-4,#u1655,#u1601-9
{
	font-family: lato-n9, sans-serif;
}

