#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u1393-7,#u1394-4,#u1395-7,#u1414-7,#u1415-8,#u1398-11,#u1401-7,#u1410-8,#u1411-7,#u1404-7,#u1405-4
{
	font-family: lato-n4, sans-serif;
}

#u1392-4,#u1391-9
{
	font-family: lato-n9, sans-serif;
}

