#u1196-4,#u1200-8,#u1228-4
{
	font-family: lato-n9, sans-serif;
}

#u1256-4
{
	font-family: lato-n9, sans-serif;
}

#u1235-4
{
	font-family: lato-n9, sans-serif;
}

#u1466-4
{
	font-family: lato-n9, sans-serif;
}

#u1210-4
{
	font-family: lato-n9, sans-serif;
}

#u1580-4
{
	font-family: lato-n9, sans-serif;
}

#u1199-6,#u1201-6,#u1202-4
{
	font-family: lato-n9, sans-serif;
}

#u346-4,#u352-4,#u350-4,#u345-4,#u348-4,#u349-4,#u351-4,#u347-4
{
	font-family: lato-i3, sans-serif;
}

#u672-5
{
	font-family: lato-i9, sans-serif;
}

#u670-4,#u677-4,#u678-4,#u675-6,#u673-4,#u672-2,#u1593-9
{
	font-family: lato-n9, sans-serif;
}

