#u418-10
{
	font-family: lato-n4, sans-serif;
}

#u812-4
{
	font-family: lato-n9, sans-serif;
}

#u813-4,#u814-4
{
	font-family: lato-n9, sans-serif;
}

#u689-10,#u692-10,#u703-8
{
	font-family: lato-n4, sans-serif;
}

