#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u2090-2,#u2090-17
{
	font-family: lato-i3, sans-serif;
}

#u2090-3,#u2090-5,#u2090-6,#u2090-8,#u2090-9,#u2090-11,#u2090-12,#u2090-14,#u2090-15,#u2090-18,#u2090-20,#u2090-21,#u2090-23,#u2090-24,#u2090-26,#u2090-27,#u2090-29,#u2090-30,#u2090-32,#u2090-33,#u2092-14,#u2112-11
{
	font-family: lato-n4, sans-serif;
}

#u1924-4,#u2083-4,#u2088-7,#u2084-4,#u2089-4,#u2085-4,#u2111-6,#u1923-9
{
	font-family: lato-n9, sans-serif;
}

