#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1429-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u1930-2,#u1930-7,#u1930-12,#u1930-15,#u2119-2,#u2120,#u2121-2,#u2121-7,#u2122-2,#u2123-2,#u2123-7,#u2123-12
{
	font-family: lato-i9, sans-serif;
}

#u1930-17,#u2181-4,#u2120-2,#u2120-7,#u2121-10,#u2121-12,#u2122-4,#u2122-5,#u2122-7,#u2122-8,#u2122-10,#u2123-15,#u2123-17
{
	font-family: lato-n4, sans-serif;
}

#u1928-4,#u2113-4,#u2114-4,#u1930-4,#u1930-5,#u1930-9,#u1930-10,#u1930-14,#u2119-4,#u2115-4,#u2116-4,#u2120-4,#u2120-5,#u2121-4,#u2121-5,#u2121-9,#u2117-4,#u2118-4,#u2122-3,#u2123-4,#u2123-5,#u2123-9,#u2123-10,#u2123-14,#u1927-9
{
	font-family: lato-n9, sans-serif;
}

