#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1429-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u2146-2,#u2146-3,#u2146-6,#u2146-8,#u2146-9,#u2146-12,#u2146-14,#u2146-15,#u2146-17,#u2146-18,#u2146-20,#u2146-21,#u2146-23
{
	font-family: lato-n4, sans-serif;
}

#u1943-4,#u2146-5,#u2146-11,#u1942-9
{
	font-family: lato-n9, sans-serif;
}

