#u356-4,#u1166-8,#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u2867-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u2875-20,#u2876-20,#u2877-17,#u2880-14
{
	font-family: lato-n4, sans-serif;
}

#u2873-4,#u2872-4,#u2874-4,#u2879-4,#u2881-9
{
	font-family: lato-n9, sans-serif;
}

