#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u1946-7,#u1947-4,#u1949-7,#u2038-7,#u2039-8,#u1960-11,#u1998-7,#u2026-8,#u2027-7,#u2005-7,#u2006-4
{
	font-family: lato-n4, sans-serif;
}

#u1922-4,#u1921-9
{
	font-family: lato-n9, sans-serif;
}

