#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u2389-2,#u2389-7
{
	font-family: lato-i9, sans-serif;
}

#u2388-4,#u2389-4,#u2389-5,#u2389-9
{
	font-family: lato-n9, sans-serif;
}

#u2389-10,#u2389-12
{
	font-family: lato-n4, sans-serif;
}

