#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u2338-4,#u2337-4,#u2337-5,#u2337-9,#u2337-10,#u2337-14
{
	font-family: lato-n9, sans-serif;
}

#u2337-2,#u2337-7,#u2337-12,#u2337-15
{
	font-family: lato-i9, sans-serif;
}

#u2337-17
{
	font-family: lato-n4, sans-serif;
}

