#u356-4,#u1166-8,#u445-4
{
	font-family: lato-n9, sans-serif;
}

#u514-4
{
	font-family: lato-n9, sans-serif;
}

#u1239-4
{
	font-family: lato-n9, sans-serif;
}

#u1422-4
{
	font-family: lato-n9, sans-serif;
}

#u1355-4
{
	font-family: lato-n9, sans-serif;
}

#u1429-4
{
	font-family: lato-n9, sans-serif;
}

#u1165-6,#u1606-6,#u1607-4
{
	font-family: lato-n9, sans-serif;
}

#u1827-10,#u1828-4,#u1833-10,#u1837-4,#u1851-4,#u1857-8,#u1858-4
{
	font-family: lato-n4, sans-serif;
}

#u1861-4,#u1830-12
{
	font-family: lato-n9, sans-serif;
}

