@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* CSS Document */

body{
	font-family: 'Lato', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:white;
	background-color:#000000;
	align-content: center;
	margin: 0px;
	padding: 0px;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.grid{
	width:100%;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
/*	padding-left: 40px;*/
	position:relative;
	border-radius: 10px;
	align-content: center;
}
.mainDiv{
	width: 100%;
	height:100%;
	background-color: #000000;
	position: relative;
	align-content:center;
}
.innerGrid{
	position:relative;
	top: 5%;
	width: 80%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
/*	padding-left: 40px;*/
	align-content: center;
	border-radius: 30px;
	-moz-box-shadow: 4px 4px 5px #111111;
	-webkit-box-shadow: 4px 4px 5px #111111;
	box-shadow: 4px 4px 5px #111111;
	background-image:url(img/blackbox.png);
	background-size: cover;
}
.innerDiv{
	position: absolute;
/*	width: 30%;
	height: 40%; */
	width: 230px;
	height: 230px;
	background-size: cover;
	background-position:center;
	border-radius: 30px;
	-moz-box-shadow: 4px 4px 5px #111111;
	-webkit-box-shadow: 4px 4px 5px #111111;
	box-shadow: 4px 4px 5px #111111;
}
#_mainDiv{
	background-image: url(img/whiteboard04.jpg);
	background-position: center;
	background-size: cover;
	align-content: center;
	width: 100%;
}
#tile1{
/*	background-image:url(img/tile_ruler.jpg);	*/
	left: 5%;
	top: 5%;
}
#tile2{
	background-image:url(img/tile_shell.jpg);
	right: 5%;
	top: 5%;
}
#tile3{
	background-image:url(img/tile_ruler.jpg);
	left: 5%;
	bottom: 5%;
}
#tile4{
	background-image:url(img/tile_ruler.jpg);
	right: 5%;
	bottom: 5%;
}

/* caption slide from http://tympanus.net/ */

a {
    text-decoration: none;
    outline: none;
}

a img {
    border: none;
}

.caption {
	display: inline-block;
	position: relative;
	width: 230px;
	height: 230px;
	background-size: cover;
	background-position:center;
	border-radius: 30px;
	-moz-box-shadow: 4px 4px 5px #111111;
	-webkit-box-shadow: 4px 4px 5px #111111;
	box-shadow: 4px 4px 5px #111111;
}

.caption img {
	display: block;
	max-width: 100%;
}

.caption::before,
.caption::after {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.caption::before {
	content: attr(data-title);
	top: 0;
	left: 0;
	height: 33%;
	background: #79AAAF;
	font-size: 40px;
	font-weight: 300;
}

.caption::after {
	content: '\201C' attr(data-description) '\201D';
	top: 33%;
	left: 0;
	height: 67%;
	background: #6993A4;
	font-size: 16px;
	text-align: right;
}

.caption:hover::before,
.caption:hover::after {
	opacity: 0.9;
}